:root {
    color-scheme: dark;
    background-color: #000;
    color: #f5f5f5;
    font-family:
        "Nunito",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src:
        local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}
